<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ftccommunity.ftcxtensible" >

    <application
        android:allowBackup="true"
        android:label="FTC6460 Deploy" >
        <activity android:name="com.qualcomm.ftcrobotcontroller.vision.OpenCvActivity" />
    </application>

</manifest>
